.hero::before {
    background-image: url('../../assets/images/hero.jpg');
}

.hero__container {
    display: flex;
    position: relative;
    z-index: 3;
}

.intro__goals {
    display: grid;

    justify-content: center;

    gap: 8rem;

    grid-template-columns: repeat(auto-fit, minmax(300px, 32rem))
}

.intro__desc-primary {
    margin: 2rem 0 5rem;

    max-width: 52rem;
}

.features {
    position: relative;
    padding: 15rem 0;
}

.features__container {
    padding-right: 30rem;
}

.features__content {
    display: flex;
    width: 100%;
}

.features__content::before {
    content: '';

    position: absolute;

    width: 70%;
    height: 100%;

    top: 0;
    right: 0;

    z-index: -1;

    background-color: var(--secondary);
}

.features__content-wrapper {

    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 10rem;
}

.features__feature {
    display: flex;

    justify-content: space-between;
}

.feature__title {
    font-size: 27px;
    font-weight: 500;

    max-width: 15rem;

    color: var(--primary);
}

.feature__desc {
    font-size: 18px;
    font-weight: 400;

    max-width: 25rem;

    color: white;
}

.features__image {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 411px;
    height: 1146px;

    object-fit: cover;
    object-position: 47%;

    filter: grayscale(100%);
}

.features__content::after {
    content: '';

    mix-blend-mode: multiply;

    position: absolute;

    width: 411px;
    height: 1146px;

    bottom: 0;
    right: 0;

    z-index: 2;

    background-color: var(--primary);
}

.what-we-do__content-body {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    gap: 3.5rem;
}

.what-we-do__item {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    max-width: 25rem;

    padding: 4rem 2.25rem;

    border: 1px solid rgba(255, 255, 255, 0.2);

    svg {
        opacity: 50%;
    }
}

.what-we-do__item.active {
    background-color: var(--primary);
    border: none;
}

.our-clients {
    padding-bottom: 0;
}

.our-clients__title {
    color: var(--secondary-400);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 4px;
    margin: 0 auto 5rem;
    width: fit-content;
}

.our-clients__clients-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}
