.hero {
    width: 100%;
    height: 100vh;
    max-height: 828px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-top: 0;
    margin-top: 0;
    z-index: 0;
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../../assets/images/home/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    z-index: 1;
}

.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(94, 35, 157) linear-gradient(to right, #1d0c5b, 20%, rgba(0, 0, 0, 0));
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 2;
}

.hero__container {
    display: flex;
    position: relative;
    z-index: 3;
}

.hero__content {
    display: flex;

    width: 100%;

    color: white;

    justify-content: space-between;

    margin-top: 5rem;
}

.hero__content-wrapper {
    display: flex;
    flex-direction: column;

    max-width: 800px;

    gap: 2rem;
}

.hero__title {
    font-weight: lighter;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.hero__description {
    display: flex;
    flex-direction: column;

    max-width: 90rem;

    font-size: 6.9rem;
    font-weight: bolder;
    line-height: 1.2;

    margin-bottom: 3rem;
}

.details-block__content {
    display: flex;
    position: relative;

    width: fit-content;

    align-items: center;
    gap: 3.5rem;

    color: white;

    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;

    padding: 2rem 2.5rem 2rem 0;

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-left: none;
}

.details-block__content:before {
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;

    left: calc(-100% - 1px);

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: none;
}

.details-button {
    width: 3rem;

    aspect-ratio: 1/1;

    border-radius: 100%;

    padding: 1rem;
}

.scroll-block__content {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 3rem;
}

.scroll-label {
    font-size: 12.5px;
    letter-spacing: 6px;

    text-transform: uppercase;

    writing-mode: vertical-rl;
    white-space: nowrap;
    display: block;
}

.scroll-button {
    border-radius: 1rem;
    padding: 0.75rem 0.5rem;
}

.intro__content {
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    gap: 2rem;

    width: 100%;

    max-width: 25rem;
}

.benefits {
    position: relative;
    background-color: transparent;
}

.benefits::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../../assets/images/home/benefits.jpg');
    background-position: left top;
    background-size: 80rem auto;
    background-repeat: no-repeat;
    background-origin: border-box;
    filter: grayscale(100%);
    z-index: -2;
}

.benefits::after {
    content: '';
    width: 80rem;
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, var(--secondary-300), 95%, rgba(48, 18, 78, 0.9));
    pointer-events: none;
    z-index: -1;
}

.benefits__content {
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    gap: 2rem;

    width: 100%;

    max-width: 30rem;
}

.benefits__desc-primary {
    max-width: 380px;
}

.benefits__desc-secondary {
    max-width: 350px;
}

.services {
    position: relative;
}

.services::before {
    content: '';
    position: absolute;

    top: -20%;

    width: 100%;
    height: 145%;

    background-color: var(--secondary-400);

    z-index: -2;
}

.services__content-header {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 1.25rem;

    max-width: 40rem;
}

.services__content-desc {
    font-size: 18px;
    text-align: center;
}

.services__content-body {
    display: grid;

    align-items: flex-start;
    justify-content: center;

    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 23rem))
}

.service-item__header {
    margin-bottom: 1.75rem;
}

.service-item__logo {
    padding: 1rem;

    background-color: rgba(196, 196, 196, 0.02);

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100%;

    margin-bottom: 1rem;
}

.service-item__title {
    font-size: 18px;
    font-weight: 500;
}

.service-item__desc {
    font-size: 16.2px;
    font-weight: normal;
}

.testimonials__avatar-box {
    width: 30rem;
    height: 30rem;

    position: relative;

    overflow: hidden;

    border-radius: 50%;
}

.testimonials__avatar {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    object-position: left center;
    object-fit: cover;
}

.testimonials__avatar-wrapper {
    position: relative;
}

.testimonials__avatar-wrapper::after {
    content: '“';

    width: 100%;
    text-align: center;

    top: 23rem;

    display: block;
    position: absolute;

    color: var(--primary);

    font-size: 220px;
    font-weight: bold;
    font-family: 'Noticia Text', serif;
    font-style: italic;
}

.testimonials__slider {
    margin-top: 6rem;
}

.slider-content {
    max-width: 800px;

    text-align: center;

    font-family: 'Noticia Text', serif;
    font-style: italic;
    font-size: 36px;
    font-weight: normal;

    line-height: 177%;
}

@media (max-width: 992px) {
    .hero__container {
        padding: 0 3rem;
        margin-top: 7rem;
    }

    .hero__description {
        font-size: 6rem;
    }
}

@media (max-width: 786px) {
    .hero {
        height: auto;
        min-height: 100vh;
    }

    .hero__container {
        padding: 0 1.5rem;
        margin-top: 6rem;
    }

    .hero__description {
        font-size: 5rem
    }
}

@media (max-width: 480px) {
    .hero__container {
        margin-top: 5rem;
    }

    .hero__description {
        font-size: 22px
    }
}
