.testimonials__avatar-box {
    width: 30rem;
    height: 30rem;

    position: relative;

    overflow: hidden;

    border-radius: 50%;
}

.testimonials__avatar {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    object-position: left center;
    object-fit: cover;
}

.testimonials__avatar-wrapper {
    position: relative;

    img {
        position: absolute;
    }

    :nth-child(2) {
        top: 10rem;
        left: 6rem;
    }

    :nth-child(3) {
        top: 25rem;
        left: -8rem;
    }

    :nth-child(4) {
        top: 20rem;
        left: 18rem;
    }

    :nth-child(5) {
        top: 20rem;
        right: 15rem;
    }

    :nth-child(6) {
        top: 14rem;
        right: 7rem;
    }

    :nth-child(7) {
        top: 8rem;
        right: -5rem;
    }

    :nth-child(8) {
        top: 25rem;
        right: -5rem;
    }
}

.testimonials__avatar-wrapper::after {
    content: '“';

    width: 100%;
    text-align: center;

    top: 23rem;

    display: block;
    position: absolute;

    color: var(--primary);

    font-size: 220px;
    font-weight: bold;
    font-family: 'Noticia Text', serif;
    font-style: italic;
}

.testimonials__slider {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    margin-top: 6rem;
}

.slider-content {
    max-width: 800px;

    text-align: center;

    font-family: 'Noticia Text', serif;
    font-style: italic;
    font-size: 36px;
    font-weight: normal;

    line-height: 177%;
}

.slider-controls {
    width: 100%;

    position: absolute;

    align-self: center;

    display: flex;
    justify-content: space-between;
}

.testimonials__author-info {
    font-size: 18px;
    position: absolute;

    bottom: -4rem;
}
