@import 'components/header.css';
@import 'components/footer.css';

@import "components/normalize.css";

@import "fonts.css";
@import "utils.css";

:root {
    --primary: #F61067;

    --secondary: #5E239D;
    --secondary-300: #30124E;
    --secondary-400: #150433;

    --tertiary: #00F0B5;

    --quaternary: #F67110;

    --text-main: #776C82;
}

.bg-white {
    background-color: white;
    color: var(--secondary-400)
}

.bg-primary {
    background-color: var(--primary);
    color: white;
}

.bg-secondary {
    background-color: var(--secondary);
    color: white
}

.bg-secondary-300 {
    background-color: var(--secondary-300);
    color: white
}

.bg-secondary-400 {
    background-color: var(--secondary-400);
    color: white
}

.bg-tertiary {
    background-color: var(--tertiary);
    color: white;
}

.bg-quaternary {
    background-color: var(--quaternary);
    color: white;
}

.container {
    width: 100%;
    max-width: 1300px;

    margin: 0 auto;
    padding: 0 24px;
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-tertiary {
    color: var(--tertiary)
}

.text-quaternary {
    color: var(--quaternary)
}

.text-main {
    color: var(--text-main);
    letter-spacing: 0;
}

section {
    padding-top: 10rem;
    padding-bottom: 10rem;

    letter-spacing: 0;
}

.section-title {
    color: var(--primary);

    font-size: 12.6px;
    font-weight: 800;
    letter-spacing: 6px;

    text-transform: uppercase;
}

.content-title {
    font-size: 45px;
    font-weight: 500;
}

.primary-btn {
    padding: 0.75rem 3rem;

    font-size: 13.5px;
    letter-spacing: 2px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;

    background-color: var(--primary);

    border-radius: 2rem;
}

.glass-btn {
    background-color: rgba(196, 196, 196, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.glass-btn:hover {
    background-color: rgba(196, 196, 196, 0.2);
}
