@import 'components/header.css';
@import 'components/footer.css';

@import "components/normalize.css";

@font-face {
    font-family: 'MPLUS1p';
    src: url('.././assets/fonts/mplus1p/MPLUS1p-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MPLUS1p';
    src: url('.././assets/fonts/mplus1p/MPLUS1p-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MPLUS1p';
    src: url('.././assets/fonts/mplus1p/MPLUS1p-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MPLUS1p';
    src: url('.././assets/fonts/mplus1p/MPLUS1p-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MPLUS1p';
    src: url('.././assets/fonts/mplus1p/MPLUS1p-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MPLUS1p';
    src: url('.././assets/fonts/mplus1p/MPLUS1p-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MPLUS1p';
    src: url('.././assets/fonts/mplus1p/MPLUS1p-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary: #F61067;

    --secondary: #5E239D;
    --secondary-300: #30124E;
    --secondary-400: #150433;

    --tetriary: #00F0B5;

    --quaternary: #F67110;
}

.container {
    width: 100%;
    max-width: 1300px;

    margin: 0 auto;
    padding: 0 24px;
}

.text-primary {
    color: var(--primary);
}

.glass-btn {
    background-color: rgba(196, 196, 196, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.glass-btn:hover {
    background-color: rgba(196, 196, 196, 0.2);
}
